{% extends "layout.njk" %}
{% block content %}
    {% for i in range(0,5) -%}
        <h1> {{ message }}</h1> 
    {%- endfor %}
    <p>Välkommen till min sida</p>
    <a href="/om">Om</a>
{% endblock %}